body {
  background: #eeffe6;
}

.sub-main {
  width: 1300px;
  height: 1730px;
  border: thin solid #708090;
  margin: auto
}

#slideNotice {
  display: none;
  position: absolute;
  height: 70px;
  width: 100%;
  top: 730px;
  left: 0;
  background-color: #f0f0f0;
  text-align: center;
}

#slideNotice h3 {
  position: relative;
  padding: 0px;
  padding-top: 3px;
  margin:0px;
  top: 25%;
}
		   
h1 {
 font-size: 50px;
 color: #3b0066;
 float: left;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #00008B;
  margin: 50px;
}

h3 {
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  color: #4B0082;
}
#search {
  float: right;
  padding-top: 80px;
  padding-right: 35px;
}
#searchinput {
  width: 230px;
  height: 35px;
  font-size: 18px;
}

#searchinput2 {
  width: 70px;
  height: 35px;
  font-size: 18px;
}

#logo {
  margin-left: 50px;
  padding-right: 50px;
}

#navigation {
  clear: both;
}

ul.nav-main {
  text-align: center;
  position: relative;
  z-index: 597;
  border: thin solid green;
  padding: 12px;
  background: black;
}

ul.nav-main li:hover > ul {
  visibility: visible;
}            

ul.nav-main li {
  display: inline;   
  border: thin solid black;
  padding-top: 20px;
  padding-bottom: 15px;
}

ul.nav-main li:hover {
  background: #1a1a1a;  
  
}                

ul.nav-main li a {
  text-decoration: none;
  font-size: 30px;
  padding: 13px;
  
  padding-right: 45px;
  padding-left: 45px;
  color: white;
} 

ul.nav-main li a:hover {
	color: #E0FFFF;
}

ul.nav-sub {
  visibility: hidden;
  position: absolute;
  z-index: 598;
  margin-left: 193px;
  padding-top: 10px;
}


ul.nav-sub li {
  display: block;
  list-style: none;
  float: none;
  background: black;
  padding: 6px;
}

ul.nav-sub li a {
  padding-left: 25px;
}

ul.nav-sub li:hover {
  background: #1a1a1a;

}

ul.nav-sub2 {
  visibility: hidden;
  position: absolute;
  z-index: 598;
  margin-left: 386.6px;
  padding-top: 10px;
  width: 221px;
}

ul.nav-sub2 li {
  display: block;
  list-style: none;
  float: none;
  background: black;
  padding: 5px;
}

ul.nav-sub2 li:hover {
  background: #1a1a1a;
}

ul.nav-sub2 li a {
  padding-right: 38px;
}

#first {
  margin-left: 30px;
}
#first tr td img {
  margin-left: 20px;
  border-radius: 15px 15px 15px 15px;
}

#para {
  font-size: 23px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  color: #3d0066;
}

#form1 {
  border: thin solid #9999ff;
  border-radius: 15px 15px 15px 15px;
  width: 1000px;
  height: 630px; 
  margin-left: 150px;
  margin-bottom: 30px;
  background: #91a8ee;
}

#second tr td {
  padding-top: 50px;
  font-size: 25px;
  padding-left: 120px;
  color: #00004d;
  font-weight: bold;
}
#input {
  margin-left: 30px;
  border-radius: 5px 5px 5px 5px;
  width: 250px;
  height: 30px;
  font-size: 20px;
}
.lab {
  margin-left: 30px;
  color: #595959;
}
#sel {
  margin-left: 95px;
  font-size: 20px;
}

#submit {
  width: 90px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px 5px 5px 5px;  
}

#report {
  font-size: 20px;
  text-decoration: none;
  color: #6666ff;
  padding-left: 20px;
}

footer {
  background-color:  #00001a;
  clear: both;
  height: ;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
   
}
.navigation2 {
  float: left;
}
.navigation2 li {
  display: inline;
}
.navigation2 li a {
  text-decoration: none;
  border-right: thin solid white;
  color: white;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer2 {
  float: right;
  margin-right: 80px;
}
.footer2 a {
  margin-left: 50px;
}

.copyright {
  font-size: 17px;
  color: white;
  margin-left: 55px;
  padding-bottom: 23px;
}